* {
	margin: 0;
	font-family: cursive;
	padding: 0;
}
.header {
	background-color: rgb(192, 118, 118);
	height: 50px;
	color: blanchedalmond;
	display: flex;
	justify-content: space-between;
}

.header-name {
	padding: 8px 12px;
}

.header-bar {
	color: blanchedalmond;
}
.header-bar {
	display: flex;
	justify-content: space-evenly;
}
.header-bar nav li {
	display: inline-block;
	padding: 15px;
}
li a {
	color: blanchedalmond;
	text-decoration: none;
}
li a:hover {
	color: brown;
	background-color: chartreuse;
	border-radius: 5px;
	padding: 7px;
}

@media (max-width: 700px) {
	.header-name {
		margin-top: 5px;
	}
}
