* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}
html {
	scroll-behavior: smooth;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	height: 3rem;
}
.header nav ul {
	list-style: none;
	display: flex;
	margin: 20px, 0px;
}
.header ul li {
	font-size: 1.3rem;
	font-weight: bold;
}
.header nav ul li a {
	text-decoration: none;
	padding: 8px 25px;
	color: black;
}
.header nav ul li a:hover {
	text-shadow: 0 4px 15px pink, 0 0.9px 3px pink, 0 1px 2px black;
	color: cornsilk;
}

/* Home section */

#home {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
	height: 840px;
	color: salmon;
}
#home::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	background: url("https://content.techgig.com/thumb/msid-75430401,width-860,resizemode-4/5-tips-for-students-to-improve-coding-skills-during-college.jpg?58220")
		no-repeat center center/cover;
	height: 900px;
	width: 100%;
	z-index: -1;
	opacity: 0.8;
}
.main {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	position: absolute;
	top: 55%;
	margin-bottom: 3px;
}
.main h2 {
	font-size: 4rem;
}
.main span,
p {
	font-size: 2rem;
}

.main h2,
span,
p {
	color: cornsilk;
	text-shadow: 0 4px 15px pink, 0 0.9px 3px pink, 0 1px 2px black;
	word-wrap: break-word;
	font-weight: bold;
}

/* About */
#about,
#skill,
#contact {
	display: flex;
	flex-direction: column;
	padding: 1.4rem;
	margin-bottom: 50px;
	margin: 2rem;
	border-radius: 0.2rem;
	background-color: #9878b3;
}
.about-me,
.skill-info,
.contact-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px;
}
.about-me h2,
.skill-info h2,
.contact-info h2 {
	font-size: 3rem;
	color: rgb(226, 204, 241);
	padding-bottom: 0.8rem;
}
#work {
	display: flex;
	flex-direction: column;
	background-color: #9878b3;
	margin-bottom: 50px;
	margin: 2rem;
	border-radius: 0.2rem;
	padding: 0.3rem;
}
#work h2 {
	font-size: 3rem;
	color: rgb(226, 204, 241);
	padding-bottom: 0.8rem;
	text-align: center;
	padding: 10px;
}
.work-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
}
.work-info img {
	height: 270px;
	width: 400px;
	margin: 10px;
	border-radius: 0.7rem;
}

.skill-info li {
	display: flex;
	flex-direction: row;
	font-size: 1.5rem;
	text-shadow: 0 4px 15px pink, 0 0.9px 3px pink, 0 1px 2px black;
	color: cornsilk;
	list-style-type: lower-latin;
}
.contact-info span {
	font-size: 1rem;
	color: black;
}
.contact-info label {
	color: bisque;
	font-size: 1.6rem;
}
.contact-info a {
	text-decoration: none;
}
/* footer */
.footer {
	background-color: #71647a;
	padding: 1.7rem;
	border-radius: 0.2rem;
}
.footer-info p {
	display: flex;
	font-size: 1.2rem;
	text-align: center;
	justify-content: center;
}
